<h1>MENU USUARIOS CON SHA256</h1>
<ul class="list-group-horizontal">
    <li class="list-group-item-success">
        @Html.ActionLink("Registrar Usuario", "Registro", "Usuarios")
    </li>
    <li class="list-group-item-primary">
        @Html.ActionLink("Iniciar Sesion", "Credenciales", "Usuarios")
    </li>
    <li class="list-group-item-primary">
        @Html.ActionLink("Normalizar Nombre Archivo", "Normalizar", "Usuarios")
    </li>
</ul>

