<h1>Normalizar Nombre Archivo</h1>
<form method="post">
    <label>Nombre Archivo:</label>
    <input type="text" name="nombrearchivo" class="form-control"/>
    <input type="text" name="resultado" readonly class="form-control"  value="@ViewBag.Normalizado"/>
    <button type="submit" class="btn btn-success my-1">Normalizar</button>
</form>